#result {
  background-color: rgb(231, 225, 225);
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2px;
  margin-top: 0;

}

/*this code is for adjusting the number of article for pc and smartphone*/
@media only screen and (max-width: 767px) {
  ul {
    display: block;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 5em;

  }
}

a {
  color: black;
}

a:hover {
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

img {
  width: 15em;
  height: 10em;
  border-radius: 0.5em;
}

/*css for each article*/
li {
  border-radius: 1em;
  border-style: inherit;
  overflow: hidden;
}

/*css for the name property*/
p {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*css for the branding property*/
.branding {
  font-size: 0.3em;
  font-weight: bold;
}

.headerTitle {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(231, 225, 225);
}

.headerTitle a {
  display: flex;
  padding-right: 1%;
}

.headerTitle h2 {
  margin: 0;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

/*making sure the number of lines in the name will be 3 or less*/
.name {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
